extends ../_shared/_master
block body
    .container
        h1
            | Favourite Ads
        each item in model
            ul
                li= 'Number: ' + item.num
                li= 'Name: ' + item.name
                li= 'Town: ' + item.town
                li= 'Category: ' + item.category
                li= 'Description: ' + item.description