extends ../_shared/_master
block body
    .container
        h1#all-users-heading
            | Users
        each user in model
            ul.h4.list-unstyled
                li= 'Username: ' + user.username
                li= 'Nickname: ' + user.nickname 
                li= 'Age: ' + user.age
                li= 'Gender: ' + user.gender
                li= 'Interested in: ' + user.interests
            h4='-=-=-=-=-=-=-=-'