extends ../_shared/_master
block body
    .container
        h1
            | Users
        if user
            ul
                li= 'Username ' + user.username
                li= 'Nickname ' + user.nickname 
                li= 'Age ' + user.age
                li= 'Gender ' + user.gender
                li= 'Interested in ' + user.interests