extends ../_shared/_master
block body
    .container.row
        .div.col-xs-6
            div.h2= model.name
            div.h4= 'Number: ' + model.num
            div.h4= 'Town: ' + model.town
            div.h4= 'Category: ' + model.category
            div.h4= 'Description: ' + model.description
        .div.col-xs-6
            h2= ''
            if model.owner == String(user._id)
                h2
                    a.btn.btn-default#delete-ad(href='/adverts/search' data-adnum=model.num)
                        | Delete Ad
                script(src="/static/js/delAd.js")
            h2
                a.btn.btn-default#fav-ad(href='' data-adnum=model.num)
                    | Favourite
                script(src="/static/js/favAdd.js")