extends ../_shared/_master
block body
    .container
        h1
            | Single model
            li= 'Num: ' + model.num
            li= 'Name: ' + model.name
            li= 'Town: ' + model.town
            li= 'Category: ' + model.category
            li= 'Description: ' + model.description