extends ../_shared/_master
block body
    h1
        | Ads
        ul
            li
                | Num: #{model[0].num}
            li
                | Name: #{model[0].name}
            li
                | Town: #{model[0].town}
            li
                | Category: #{model[0].category}
            li
                | Description: #{model[0].description}
        