extends ../_shared/_master
block body
    .container
        h1
            | Ads
        each ad in model
            ul.h4.list-unstyled
                li.h3= 'Number: '
                    a(href=':num=' + ad.num) #{ad.num}
                li= 'Name: ' + ad.name
                li= 'Town: ' + ad.town
                li= 'Category: ' + ad.category
            h4='-=-=-=-=-=-=-=-'