extends ../_shared/_master
block body
    h1
        | Ads
        ul
            li
                | Num: #{model.num}
            li
                | Name: #{model.name}
            li
                | Town: #{model.town}
            li
                | Category: #{model.category}
            li
                | Description: #{model.description}
        